*
!*/

!/package.json
!/tsconfig.json
!/.gitignore
!/.htaccess
!/README.md

!/administrator/components/com_stages/**/*

!/administrator/language/fr-FR/com_stages.ini
!/administrator/language/fr-FR/com_stages.sys.ini
!/administrator/language/en-GB/com_stages.ini
!/administrator/language/en-GB/com_stages.sys.ini

!/api/components/com_stages/**/*

!/components/com_stages/**/*

!/media/com_stages/**/*

!/modules/mod_7aw*/**/*

!/language/en-GB/com_stages.ini
!/language/en-GB/plg_stages.ini
!/language/en-GB/plg_stages.sys.ini
!/language/fr-FR/com_stages.ini
!/language/fr-FR/plg_stages.ini
!/language/fr-FR/plg_stages.sys.ini
!templates/wa7/**/*