/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2021, 6:09:18 PM
    Author     : zian
*/
.moduletable {
    margin-bottom: 2rem !important;
}

.module-title {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}


.module-highlight {
    padding: 25px;
    background: var(--color-fluoro-orange) !important;
    display: block;
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
}
.module-highlight > h3 {
    color: #fff;
    font-size: 30px !important;
    font-weight: 400;
}

.mod-breadcrumbs__wrapper {
    
}

.mod-articleslatest.latestnews.mod-list li {
    margin-bottom: 0.75rem
}
.mod-articleslatest.latestnews.mod-list li a {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.mod-articleslatest.latestnews.mod-list {
    font-family: 'Roboto Condensed';
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.25;
    color: var(--color-graphite-grey);
    list-style-type: none;
}